<div class="modal-body row">
  <div class="col-md-6">
    <div class="container-fluid"> 
       <p class="h3 p-3">{{ aerolinea.airlineName }}</p>
       <div class="col">
         <dl>
          <dt>ID</dt>
          <dd>{{ aerolinea.id }}</dd>
          <hr />
          <dt>Pais</dt>
          <dd>{{ aerolinea.country }}</dd>
          <hr />
          <dt>Ciudad</dt>
          <dd>{{ aerolinea.city }}</dd>
          <hr />
          <dt>Direccion</dt>
          <dd>{{ aerolinea.adress }}</dd>
          <hr />
          <dt>Slogan</dt>
          <dd>{{ aerolinea.slogan }}</dd>
          <hr />
         </dl>
       </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- Your second column here -->
  </div>
</div>